* {
    box-sizing: border-box;
}


h1 {
    display: flex;
    width: 150px;
    height: 120px;
    margin: 40px auto;
    padding: 10px;
    background-color: rgb(255, 89, 0);
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
}


h1::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 120px;
    background-color: rgb(255, 89, 0);
    z-index: -1;
    left: 0;
    top: 0;
}

/* /* h1::before {
    transform: skew(10deg,10deg);
} */

h1::after {
    transform: skew(-10deg,-10deg);


} 